
.sidebar-logo {
  max-width: 150px;
}

.sidebar-title {
  font-size: 1.7rem;
}

.platform-table td {
  vertical-align: middle;
}

.platform-table td > div.sourceCode {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.btn-translate {
  float: right;
  /* Make the button less visible, may be off below the internal toc */
}

.btn-submit {
  float: right;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    margin: 0 17.75em;
  }
}